
.App-header {
  background-color: #fdfeff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}


.carousel {
  height: 1056px;
  width: 816px;
  margin: 0 auto;
}
